<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
</head>
<body ng-app="app">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCotroller">
       <div class="navbar-header">
           <a ui-sref="teams"><img id = "ipl_logo" class="nav navbar-nav navbar-left navbar-light bg-faded navbar-brand" src="https://firebasestorage.googleapis.com/v0/b/ipl-single-page-app.appspot.com/o/team_logo%2Fipl_logo.jpg?alt=media&token=0482e5ac-bda9-4f2c-a526-c5be6e8f3923" alt="IPL_logo"></a>
           <a class="nav navbar-nav navbar-left navbar-light bg-faded navbar-brand" ui-sref="teams">Indian Premier league</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       </div>
       <div class="collapse navbar-collapse" id="myNavbar">
       <ul class="nav navbar-nav navbar-right">
           <li ng-if="!isAuthenticated()"><a ui-sref="login" class="">Login</a></li>
           <li ng-if="isAuthenticated()" class=""><a ui-sref="teams">Teams</a></li>
           <li ng-if="isAuthenticated()" class=""><a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile <span class="caret"></span></a>
               <ul class="dropdown-menu"  role = "menu">
                   <li><a href="#">{{myUser}}</a></li>
                   <li><a ui-sref="logout">Logout</a></li>
               </ul>
           </li>
       </ul>
     </div>
   </nav>
    <div ui-view></div>

</body>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-route/angular-route.js"></script>
<script src="./bower_components/firebase/firebase.js"></script>
<script src="./bower_components/angularfire/dist/angularfire.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="./bower_components/satellizer/dist/satellizer.min.js"></script>
<script src="./config.js"></script>
<script src="./app.js"></script>
<script src="./controller/TeamsDataCtrl.js"></script>
<script src="./controller/loginCtrl.js"></script>
<script src="./service/myUser.js"></script>
<script src="./controller/logout.js"></script>
<script src="./controller/nav.js"></script>
<script type="text/javascript" src="./service/firebaseData.js"></script>
</html>
